.genre-content {
  --ion-background-color: black;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
  display: flex;
  scrollbar-width: thin;
  scrollbar-color: rgba(73, 25, 202, 0.5) transparent;
}

.genre-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(10px) brightness(30%);
  z-index: -1;
  display: flex;
  justify-content: center;
}

.genre-background {
  margin-top: 50px;
  width: 70%;
  height: 80%;
  background: url("/assets/images/background-details.png") no-repeat center;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.genre-inner-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.genre-photo {
  object-position: top;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  margin-bottom: 15px;
}

.genre-name {
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
//----------------------------------------------
.genre-details {
  margin-left: 10px;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  height: 300px;
  overflow: auto;

  scrollbar-width: thin;
  scrollbar-color: rgba(58, 20, 161, 0.5) transparent; /* Semi-transparent thumb, invisible track */
}

.genre-details::-webkit-scrollbar {
  width: 6px;
}

.genre-details::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.genre-details::-webkit-scrollbar-thumb {
  background: rgba(94, 190, 196, 0.7);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.genre-details::-webkit-scrollbar-thumb:hover {
  background: rgba(249, 44, 133, 0.8);
}

li {
  text-align: left;
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}

.detail {
  width: 95%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.detail h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #f92c85;
}

.detail h2 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

a {
  color: #fa9ac4;
  text-decoration: none;
}

a:hover {
  color: rgba(250, 38, 130, 0.8);
}

a:visited:hover {
  color: rgba(250, 38, 130, 0.8);
}

a:visited {
  color: #fa9ac4;
}

.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}
.items-subgenre {
  flex-wrap: wrap;
  justify-content: flex-start;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr); /* Împărțim în 3 coloane egale */
}

.subgenre-item {
  text-align: justify;
  flex: 1 0 30%;
  margin: 5px;
}

.items p {
  font-size: 16px;
  margin: 0;
  display: inline-block;
  color: white;
  white-space: nowrap;
}

.items p span {
  margin-left: 5px;
}

.items p:not(:last-child) {
  margin-right: 10px;
}

h3 .fa-music {
  color: #f92c85;
  margin-right: 5px;
}

//---------------------------------------------------
@media (max-width: 768px) {
  .background {
    display: none;
  }

  .genre-container {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .genre-background {
    border-radius: 0px;
    margin-top: -170px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
  }

  .genre-content {
    --ion-background-color: transparent;
    background: url("/assets/images/background-details.png") no-repeat center;
  }

  .genre-photo {
    width: 120px;
    height: 120px;
  }

  .genre-name {
    font-size: 24px;
  }

  .detail h3 {
    font-size: 16px;
  }

  .detail h2 {
    font-size: 15px;
  }

  .detail p {
    font-size: 14px;
  }

  .genre-details {
    overflow: inherit;
  }
}
.items p {
  white-space: normal;
  word-wrap: break-word;
  white-space: pre-line;
}

.horizontal-divider {
  border: none;
  border-top: 2px solid #cccccc6b; /* Culoarea și grosimea liniei */
  margin: 20px 0; /* Spațiu înainte și după linie */
  width: 80%; /* Linia va ocupa întreaga lățime a containerului */
}
