<ion-content [fullscreen]="true" class="contact-content">
  <div class="intro-section" itemscope itemtype="https://schema.org/WebPage">
    <div class="intro-text">
      <h1 itemprop="headline">Contact Us</h1>

      <div class="contact-person-container">
        <div
          class="contact-person"
          itemscope
          itemtype="https://schema.org/Person"
        >
          <h2 itemprop="name">Madalina</h2>
          <img
            src="/assets/images/madalina.jpg"
            alt="Madalina's photo"
            class="person-photo"
            itemprop="image"
          />
          <p itemprop="email">
            <i class="fa fa-envelope"></i> madalinacarausu&#64;gmail.com
          </p>
          <a
            href="https://github.com/Madalina-Carausu"
            target="_blank"
            itemprop="url"
          >
            <i class="fab fa-github"></i> GitHub
          </a>
        </div>

        <div
          class="contact-person"
          itemscope
          itemtype="https://schema.org/Person"
        >
          <h2 itemprop="name">Isabela</h2>
          <img
            src="/assets/images/isabela.jpg"
            alt="Isabela's photo"
            class="person-photo"
            itemprop="image"
          />
          <p itemprop="email">
            <i class="fa fa-envelope"></i> isabellla128&#64;gmail.com
          </p>
          <a
            href="https://github.com/isabellla128"
            target="_blank"
            itemprop="url"
          >
            <i class="fab fa-github"></i> GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
