<ion-header>
  <ion-toolbar color="dark">
    <div class="menu-options" itemscope itemtype="http://schema.org/WebPage">
      <div class="left-items">
        <img
          src="/assets/images/logo.png"
          alt="Logo"
          class="logo-image"
          itemprop="image"
        />
        <span class="text-and-logo" itemprop="name">Artist Search</span>
      </div>
      <div class="right-items">
        <a
          routerLink="/home"
          routerLinkActive="active"
          class="menu-item"
          itemprop="url"
          ><span class="menu-item-text">Home</span></a
        >
        <a
          routerLink="/artists"
          routerLinkActive="active"
          class="menu-item"
          itemprop="url"
          ><span class="menu-item-text">Artists</span></a
        >
        <a
          routerLink="/genres"
          routerLinkActive="active"
          class="menu-item"
          itemprop="url"
          ><span class="menu-item-text">Genres</span></a
        >
        <a
          routerLink="/contact"
          routerLinkActive="active"
          class="menu-item"
          itemprop="url"
          ><span class="menu-item-text">Contact</span></a
        >
      </div>
      <div
        class="burger-menu"
        (click)="toggleMenu()"
        role="button"
        aria-label="Toggle menu"
      >
        <span class="burger-icon">&#9776;</span>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<!-- Mobile menu (hidden by default) -->
<div
  class="mobile-menu"
  [ngClass]="{ open: isMenuOpen }"
  itemscope
  itemtype="http://schema.org/SiteNavigationElement"
>
  <a
    routerLink="/home"
    routerLinkActive="active"
    class="menu-item"
    (click)="toggleMenu()"
    itemprop="url"
    ><span class="menu-item-text">Home</span></a
  >
  <a
    routerLink="/artists"
    routerLinkActive="active"
    class="menu-item"
    (click)="toggleMenu()"
    itemprop="url"
    ><span class="menu-item-text">Artists</span></a
  >
  <a
    routerLink="/genres"
    routerLinkActive="active"
    class="menu-item"
    (click)="toggleMenu()"
    itemprop="url"
    ><span class="menu-item-text">Genres</span></a
  >
  <a
    routerLink="/contact"
    routerLinkActive="active"
    class="menu-item"
    (click)="toggleMenu()"
    itemprop="url"
    ><span class="menu-item-text">Contact</span></a
  >
</div>
