<ng-container *ngIf="this.isGraphShown ; else loading">
  <h2>Awards and Nominations</h2>
  <app-bar-chart
    [artist1]="artist1"
    [artist2]="artist2"
    [width]="width"
    [height]="height"
  ></app-bar-chart>

  <hr class="horizontal-divider" />
  <h2>Instruments</h2>
  <div class="actor-container">
    <div class="actor-left">
      <h3>{{artist1.name | titlecase}}</h3>
      <p *ngFor="let instrument of artist1.instruments">
        {{ instrument | slice:0:1 | uppercase }}{{ instrument | slice:1 }}
      </p>
    </div>

    <div class="actor-right">
      <h3>{{artist2.name}}</h3>
      <p *ngFor="let instrument of artist2.instruments">
        {{ instrument | slice:0:1 | uppercase }}{{ instrument | slice:1 }}
      </p>
    </div>
  </div>

  <hr class="horizontal-divider" />

  <h2>Genres</h2>
  <app-network-chart
    [artists]="[artist1, artist2]"
    [width]="width"
    [height]="height"
  ></app-network-chart>

  <hr class="horizontal-divider" />

  <h2>Country</h2>
  <div class="actor-container">
    <div class="actor-left">
      <h3>{{artist1.name | titlecase}}</h3>
      <h2>{{artist1.country | titlecase}}</h2>
    </div>

    <div class="actor-right">
      <h3>{{artist2.name}}</h3>
      <h2>{{artist2.country | titlecase}}</h2>
    </div>
  </div>

  <hr class="horizontal-divider" />

  <h2>Occupations</h2>
  <div class="actor-container">
    <div class="actor-left">
      <h3>{{artist1.name | titlecase}}</h3>
      <p *ngFor="let occupation of artist1.occupations">
        {{ occupation | slice:0:1 | uppercase }}{{ occupation | slice:1 }}
      </p>
    </div>

    <div class="actor-right">
      <h3>{{artist2.name}}</h3>
      <p *ngFor="let occupation of artist2.occupations">
        {{ occupation | slice:0:1 | uppercase }}{{ occupation | slice:1 }}
      </p>
    </div>
  </div>
  <hr class="horizontal-divider" />
</ng-container>

<ng-template #loading>
  <div class="loader-container">
    <div class="loader"></div>
  </div>
</ng-template>
